{% extends 'base.html.twig' %}

{% block title %}Dé-2-JP{% endblock %}

{% block content %}
    <h1 class="text-black">Dé à coudre</h1>

    <div class="album py-5  bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    {% include 'product/single_product.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
